<div class="game" data-id="{{id}}">
    <div class="name">{{name}}</div>
    <div class="ruleset">{{ruleset}}</div>
    <div class="players">{{player1}} vs. {{player2}}</div>
    <div class="created">{{created}} ago</div>
</div>